RewriteEngine On

Redirect 301 /awards&dinners.html /awards-and-dinners.html
Redirect 301 /awards%26dinners.html /awards-and-dinners.html
Redirect 301 /concerts&shows.html /concerts-and-shows.html
Redirect 301 /concerts%26shows.html /concerts-and-shows.html
Redirect 301 /exhibitions&festivals.html /exhibitions-and-festivals.html
Redirect 301 /exhibitions%26festivals.html /exhibitions-and-festivals.html
Redirect 301 /sportingevents.html /sporting-events.html
Redirect 301 /roomlayout.html /room-layout.html
Redirect 301 /terms-and-condition.html /terms-and-conditions.html
Redirect 301 /blog/AU_Ball_Returns_Once_Again.html /blog/au-ball-returns-athena.html
Redirect 301 /blog/Athena_Kicks_off_2023_in_Paris_for_the_Vet_Ball.html /blog/athena-kicks-off-2023-paris-vet-ball.html
Redirect 301 /blog/Athena_Lit_By_Candlelight_For_Hanz_Zimmer_and_Vivaldi.html /blog/athena-candlelight-hans-zimmer-vivaldi.html
Redirect 301 /blog/Athena_hosts_their_75th_Bongo’s_Bingo.html /blog/athena-hosts-75th-bongos-bingo.html
Redirect 301 /blog/Athena_welcomes_four_hundred.html /blog/athena-welcomes-four-hundred-guests.html
Redirect 301 /blog/Athena_welcomes_four_hundred_guests_to_this_year’s_Club_Mirror_Awards..html /blog/club-mirror-awards-athena.html
Redirect 301 /blog/Christmas_Kicks_off_at_Athena_with_a_Festive_&_Fabulous_Build_Week.html /blog/christmas-festive-build-week-athena.html
Redirect 301 /blog/Christmas_Kicks_off_at_Athena_with_a_Festive_%26_Fabulous_Build_Week.html /blog/christmas-festive-build-week-athena.html
Redirect 301 /blog/Constructing_Excellence_Awards_2022.html /blog/constructing-excellence-awards-2022.html
Redirect 301 /blog/Davidsons_Homes_Return_for_4th_Visit_to_Athena.html /blog/davidsons-homes-fourth-visit-athena.html
Redirect 301 /blog/Fashion_Revival_Comes_to_Athena.html /blog/fashion-revival-athena.html
Redirect 301 /blog/Happy_New_Year.html /blog/happy-new-year-athena.html
Redirect 301 /blog/Jubilee_Weekend_at_Athena.html /blog/jubilee-weekend-athena.html
Redirect 301 /blog/Krispy_Kreme_Goes_Round_The_World_at_Athena_for_2023.html /blog/krispy-kreme-athena-2023.html
Redirect 301 /blog/Leicester_Ballroom_Glitz.html /blog/leicester-ballroom-glitz-athena.html
Redirect 301 /blog/Niche_Business_Awards_take_Athena_‘Back_to_the_Future’.html /blog/niche-business-awards-back-to-the-future-athena.html
Redirect 301 /blog/The_Athena_Events_Team_Welcome_Land_Registry_for_a_taste_of_Christmas.html /blog/land-registry-christmas-athena.html
Redirect 301 /blog/The_Building_Community_Awards_Celebrate_5_Years_At_Athena.html /blog/building-community-awards-5-years-athena.html
Redirect 301 /blog/The_Dentistry_Awards_Come_Back_to_Athena.html /blog/dentistry-awards-return-athena.html
Redirect 301 /blog/The_Roaring_20s_Meet_The_Jungle.html /blog/roaring-20s-meet-the-jungle-athena.html
Redirect 301 /blog/Tis_Officially_The_Season.html /blog/tis-officially-the-season-athena.html
Redirect 301 /awards.html /awards-and-dinners.html
Redirect 301 /shows.html /concerts-and-shows.html
