@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overflow: hidden;
}

.scroll-container {
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body section{
  height:100vh;
}

/* Navbar Section CSS */
.menu-item {
  position: relative;
}

.menu-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px; /* Position below the text */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  visibility: hidden;
}

.menu-item:hover::after {
  visibility: visible;
  border-bottom: 5px solid white; /* Ensures it only shows on hover */
}

.logo:hover {
  color: #f43900; /* or any highlight color */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

/* Achivement Section CSS */
.gradient-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  width: 40vw;
  aspect-ratio: 1 / 1;
  transform-origin: center;
  transition: transform 1.5s ease; 
}

.gradient-circle.pink {
  background: radial-gradient(circle, rgba(255, 180, 238, 0.5) 0%, rgba(255, 180, 238, 0) 70%);
}

.gradient-circle.blue {
  background: radial-gradient(circle, rgba(168, 210, 241, 0.4) 0%, rgba(168, 210, 241, 0) 70%);
}




