@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< Updated upstream

.gradient-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  width: 40vw;
  aspect-ratio: 1 / 1;
  transform-origin: center;
  transition: transform 1.5s ease; /* Increased duration for smoother transition */
}

.gradient-circle.pink {
  background: radial-gradient(circle, rgba(255, 180, 238, 0.5) 0%, rgba(255, 180, 238, 0) 70%);
}

.gradient-circle.blue {
  background: radial-gradient(circle, rgba(168, 210, 241, 0.4) 0%, rgba(168, 210, 241, 0) 70%);
}




=======
input::placeholder {
  color: black;
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  font-weight: 400; /* Regular weight */
}

p {
  font-family:'Archivo'
}
>>>>>>> Stashed changes
